{% extends 'layout/layout.html.twig' %}

{% block body %}
    <div class="home_container">
        <div class="actions">
        <img class="logo" src="{{ asset('img/logotype-testio..png') }}" srcset="{{ asset('img/logotype-testio.@2x.png') }} 2x" alt="testio." />
        <a href="{{ url('github_connect') }}" class="btn">Login With GitHub</a>
        </div>
    </div>
{% endblock %}